[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
seaborn = "*"
nibabel = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.9"
