**.DS_Store
*.rkt~
*.zip

#6110
*.trail
Book1_Computation_Engineering_For_CS6100_Spring2021.pdf 
Book5_2007_Book_TheCalculusOfComputation.pdf
Computation_Engineering_For_CS6100_Spring2021.pdf
.ipynb_checkpoints

*.t
**/**/*pan*
**/**/*a.out*
*.tmp
cs6110s22

#6490
Network security private communication in a public world by Kaufman, CharliePerlman, RadiaSpeciner, Mike (z-lib.org).pdf
Charlie Kaufman, Radia Perlman, Mike Speciner - Network Security_ Private Communication in a Public World (2nd Edition)-Prentice Hall (2002).chm
